{% extends 'trocasolidaria/main.html' %}
{% load static %}

{% block content %}
    
    <div class="row">
        {% for cestas in cestas %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{cestas.imagem}}">
            <div class="box-element product">
                <h6><strong>{{cestas.resumo}}</strong></h6>
                <hr>

                
                <a class="btn btn-outline-success" href="{% url 'detalhes-cesta' %}">Ver mais</a>
                <h4 style="display: inline-block; float:right"><strong>
                R$ {{cestas.valor_estimado|floatformat:2}}</strong></h4>

            </div>
        </div>
        {% endfor %}
    </div>


    <div class='row'>
        <div class='container'>
            <hr><h2>Sobre o Troca Solidária</h2>
            <p>
                A Troca Solidária...
            </p>
        </div>

    </div>

{% endblock content %}